/* @media only screen and (max-width: 400px) {
    body {
        width: 100%;
    } */
    /* h1 {
        font-size: large;
    } */

}




@font-face {
    font-family: 'Inter';
    src: url('assets/fonts/Inter-VariableFont_slnt,wght.ttf') format('ttf');
    src: url('assets/fonts/static/Inter-Regular.ttf') format('ttf');
    src: url('assets/fonts/static/Inter-Bold.ttf') format('ttf');
    src: url('assets/fonts/static/Inter-SemiBold.ttf');

}



* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-size: 14px;
    font-family: Inter, sans-serif;
    width: 100%;
    margin: 0 auto;

    text-align: center;
    background-color:hsl(0, 0%, 8%);
    /* border: 2px solid blue; */
}

.wrapper {
    width: 30%;
    margin: 50px auto;
    background-color:hsl(0, 0%, 12%);
    border-radius: 10px;
    color: hsl(0, 0%, 100%);
    
}

header {
    margin: 20px auto;
    /* width: 100% */
}

header>p {
    color: rgb(185, 240, 103);
}

img {
    margin: 50px 0 10px 0;
    border-radius: 100px;
}

h1 {
    padding: 10px;
    text-align: center;
}

p[class="front"] {
    margin-bottom: 30px;
}
p[class="main1"] {
    margin: 15px 20px 10px 20px;
    padding: 15px;
    background-color: hsl(0, 0%, 20%);
    border-radius: 10px;
}

p[class="main1"]:hover {
    background-color: rgb(185, 240, 103);
    color: black;
}

.main a {
    text-decoration: none;
    color: inherit;

}
/* 
.front {
    /* word-spacing: 0.5em; */
    padding: 10px 0 5px 0;
    margin: 20px 10px 15px 10px;
    border: 2px solid blue;
    font-size: 1.1em; */
}
